/* css Rougemont pour Alix */

:root {
    --bg: #ddd;
    --bghi: #eee;
    --text: #333;
    --texthi: #cf1308;
    --textlo: #666;
    --textinv: #000;
    --link: #cc6b66;
    --bg2: #cf1308;
    --text2: #ddd;
    --textlo2: #333;
    --texthi2: #fff;
    --textinv2: #333;
    --bg3: var(--bg);
    --text3: #333;
    --red: #cf1308;
    --redlight: #fba19d;
    --redmid: #cc6b66;
    --redalpha: rgba(207, 19, 8, 0.5);
    --light: #f5f4f5;
    --black: #212529;
    --gray: #4c555d;
}

body {
    font-family: 'Fira Sans', 'Open Sans', 'Roboto', sans-serif-light, sans-serif;
    line-height: 1.5;
    font-weight: 300;
    font-size: 18px;
}

div.text {
    background-color: #fff;
}


/**
 * Welcome pages
 */

#portrait {
    margin-left: 100px;
    height: 200px;
    position: relative;
    display: inline-block;
    width: auto;
    max-width: 500px;
    min-width: 270px;
}

#header_ban {
    background-image: url('https://www.unige.ch/rougemont/packages/rougemont/themes/rougemont/img/header_ban.png');
    background-size: 100% 200px;
    background-repeat: no-repeat;
    position: relative;
    height: 200px;
}

#moto {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.2;
    color: #000;
    display: block;
    position: absolute;
    top: 60px;
    left: 120px;
}

#header_container {}

#ddrtete {
    position: absolute;
}

#header-row {
    margin-left: 150px;
}

.bg-black {
    background-color: #000;
}

.bg-dark {
    background-color: #343a40;
}

.row img {
    display: block;
    width: 100%;
}

#footer {
    margin: 0;
    margin-top: auto;
    /* always bottom trick */
    text-align: left;
    position: relative;
    color: #ccc;
    font-size: 16px;
}

@media (min-width: 576px) {
    .container {
        max-width:540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width:720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width:960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width:1140px
    }
}

.pb-5, .py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#footer .row {
    align-items: flex-start;
    justify-content: center;
}

#footer a {
    color: #ccc;
    text-decoration: underline;
}

#footer div.label {
    font-weight: bold;
    font-size: 110%;
    line-height: 1.05;
    text-align: center;
    color: #666;
    margin: 0 0 15px 0;
    border-bottom: 1px solid;
    hyphens: none;
    text-indent: 0;
    padding-left: 0;
}

#footer address,
#footer p {
    margin: 0 0 0 2rem;
}

#footer ul {
    padding-left: 2rem;
}

#footer-small {
    color: #ccc;
    padding: 30px;
}

#footer-small img {
    margin: 0;
    width: 100%;
    mix-blend-mode: screen;
}

.logos .col {
    /*
    min-width: 150px;
    max-width: 50%;
    */
    width: 20%;
}

.sponsors > * {
    width: 25%;
    padding: 3rem 1rem 3rem 1rem;
    
}

#loginout {
    display: none;
}
