/* css Rougemont pour Alix */

body {
  font-family: 'Fira Sans', 'Open Sans', 'Roboto', sans-serif-light, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  font-size: 17px;
}
body {
  background-color: #fff;
}

